input{
    height: 30px;
    border-radius: 5px;
} 

 label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all 0.1s linear;
    padding: 0 5px;
    background: white;
    z-index: 3;
}
label:focus {
    font-size: small;
    color:rgb(166, 161, 162);
    left: 5px;
    top: -10px;
 } 
   .field-group{
           position: relative;
           margin:10px;
   }
   